*{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

body{
    padding-bottom: 20vh;
    background-color: #393e46;
}

header{
    width: 100%;
    margin: auto;
    background: rgb(248, 248, 248);
    background-color: #222831;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.45);
    padding: 10px;
}

#btnContainer{
    width: 80%;
    margin: auto;
    text-align: center;
}

.btn{
    cursor: pointer;
    margin: auto;
    text-align: center;
    border-radius: 15px;
    background-color: #d65a31;
    padding: 10px 20px;
    margin: 0 23px;
    display: inline-flex;
}

.btn:hover{
    background-color: #393e46;
    color: #d65a31;
    transition: 0.5s;
}

img{
    width: 20vw;
}

ul{
    width: 80vw;
    margin: auto;
    margin-top: 40px;
}

li{
    height: max-content;
    list-style: none;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.45);
    padding: 15px;
    margin-top: 20px;
    border-radius: 15px;
}

.title{
    font-size: 24px;
    color: #d65a31;
    text-decoration: none;
}

li div{
    display: flex;
}

li img{
    margin-top: 20px;
    float: left;
}

.desc{
    float: left;
    color: #eeeeee;
    margin-top: 20px;
    padding-left: 20px;
    font-size: 20px;
    cursor: pointer;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: #222831;
    /* box-shadow: inset 0 0 5px grey; */
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #d65a31;
    border-radius: 10px;
  }
